USE [QLCafe]
GO
/****** Object:  Table [dbo].[Ban]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ban](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](20) NULL,
	[status] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDonHang]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDonHang](
	[MaChiTietDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[MaSanPham] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietTopping]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietTopping](
	[MaChiTietTopping] [int] IDENTITY(1,1) NOT NULL,
	[MaDonHang] [int] NULL,
	[MaTopping] [int] NULL,
	[SoLuong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaChiTietTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[MaDonHang] [int] IDENTITY(1,1) NOT NULL,
	[MaKhachHang] [int] NULL,
	[NgayDatHang] [date] NULL,
	[MaNhanVien] [int] NULL,
	[TongTien] [decimal](10, 2) NULL,
	[IDTable] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDonHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [int] NOT NULL,
	[TenKhachHang] [nvarchar](255) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](255) NULL,
	[user_name] [varchar](50) NULL,
	[pass] [varchar](50) NULL,
	[DiaChi] [nvarchar](255) NULL,
	[SoDienThoai] [nvarchar](20) NULL,
	[Email] [nvarchar](255) NULL,
	[Luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SanPham]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SanPham](
	[MaSanPham] [int] IDENTITY(1,1) NOT NULL,
	[TenSanPham] [nvarchar](255) NULL,
	[GiaTien] [decimal](10, 2) NULL,
	[MaTheLoai] [int] NULL,
	[HinhAnh] [image] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSanPham] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_per_relationship]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_per_relationship](
	[id_rel] [int] IDENTITY(1,1) NOT NULL,
	[id_user_rel] [int] NULL,
	[id_per_rel] [int] NULL,
	[suspended] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_rel] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_permision]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_permision](
	[id_per] [int] IDENTITY(1,1) NOT NULL,
	[name_per] [nvarchar](50) NULL,
	[description] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_per] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_permision_del]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_permision_del](
	[id_pd] [int] IDENTITY(1,1) NOT NULL,
	[code_action] [nvarchar](50) NULL,
	[id_per] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id_pd] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TheLoai]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TheLoai](
	[MaTheLoai] [int] NOT NULL,
	[TenTheLoai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTheLoai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Topping]    Script Date: 29/11/2023 10:28:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Topping](
	[MaTopping] [int] NOT NULL,
	[Ten] [nvarchar](255) NULL,
	[Gia] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTopping] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Ban] ([ID], [Name], [status]) VALUES (1, N'Bàn 1', N'Trống')
INSERT [dbo].[Ban] ([ID], [Name], [status]) VALUES (2, N'Bàn 2', N'Trống')
INSERT [dbo].[Ban] ([ID], [Name], [status]) VALUES (3, N'Bàn 3', N'Trống')
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] ON 

INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaSanPham], [SoLuong]) VALUES (1, 2, 3, 1)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaSanPham], [SoLuong]) VALUES (2, 2, 5, 1)
INSERT [dbo].[ChiTietDonHang] ([MaChiTietDonHang], [MaDonHang], [MaSanPham], [SoLuong]) VALUES (3, 3, 6, 2)
GO
SET IDENTITY_INSERT [dbo].[ChiTietDonHang] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietTopping] ON 

INSERT [dbo].[ChiTietTopping] ([MaChiTietTopping], [MaDonHang], [MaTopping], [SoLuong]) VALUES (1, 3, 3, 1)
INSERT [dbo].[ChiTietTopping] ([MaChiTietTopping], [MaDonHang], [MaTopping], [SoLuong]) VALUES (2, 3, 4, 1)
INSERT [dbo].[ChiTietTopping] ([MaChiTietTopping], [MaDonHang], [MaTopping], [SoLuong]) VALUES (3, 5, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[ChiTietTopping] OFF
GO
SET IDENTITY_INSERT [dbo].[DonHang] ON 

INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDatHang], [MaNhanVien], [TongTien], [IDTable]) VALUES (1, 23001, CAST(N'2023-11-10' AS Date), 2, CAST(56000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDatHang], [MaNhanVien], [TongTien], [IDTable]) VALUES (2, 23005, CAST(N'2023-11-10' AS Date), 2, CAST(28000.00 AS Decimal(10, 2)), NULL)
INSERT [dbo].[DonHang] ([MaDonHang], [MaKhachHang], [NgayDatHang], [MaNhanVien], [TongTien], [IDTable]) VALUES (3, 23004, CAST(N'2023-11-10' AS Date), 2, CAST(75000.00 AS Decimal(10, 2)), NULL)
SET IDENTITY_INSERT [dbo].[DonHang] OFF
GO
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai]) VALUES (23000, N'Vãng Lai', N'TPHCM', N'0000000000')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai]) VALUES (23001, N'Nguyễn Đức Long', N'Tp. Thủ Đức, TPHCM', N'0902748274')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai]) VALUES (23002, N'Hoàng Thiện Tâm', N'q. Phú Nhuận, TPHCM', N'0902571923')
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [user_name], [pass], [DiaChi], [SoDienThoai], [Email], [Luong]) VALUES (1, N'Nguyễn Văn A', N'user', N'123', N'Tây Ninh', N'01234567', N'nguyenvana@gmail.com', 3000000)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [user_name], [pass], [DiaChi], [SoDienThoai], [Email], [Luong]) VALUES (2, N'Nguyễn Văn B', N'admin', N'123', N'Hà Nội', N'01234568', N'nguyenvanB@gmail.com', 3000000)
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [user_name], [pass], [DiaChi], [SoDienThoai], [Email], [Luong]) VALUES (4, N'Nguyễn Văn C', N'user1', N'123', N'TPHCM', N'012345682', N'nguyenvanC@gmail.com', 3000000)
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[SanPham] ON 

SET IDENTITY_INSERT [dbo].[SanPham] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_per_relationship] ON 

INSERT [dbo].[tbl_per_relationship] ([id_rel], [id_user_rel], [id_per_rel], [suspended]) VALUES (1, 1, 2, 0)
INSERT [dbo].[tbl_per_relationship] ([id_rel], [id_user_rel], [id_per_rel], [suspended]) VALUES (2, 2, 1, 0)
INSERT [dbo].[tbl_per_relationship] ([id_rel], [id_user_rel], [id_per_rel], [suspended]) VALUES (3, 4, 2, 0)
SET IDENTITY_INSERT [dbo].[tbl_per_relationship] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_permision] ON 

INSERT [dbo].[tbl_permision] ([id_per], [name_per], [description]) VALUES (1, N'Admin', N'Quyền Cao Nhất')
INSERT [dbo].[tbl_permision] ([id_per], [name_per], [description]) VALUES (2, N'Seller', N'Quyền Bán Hàng')
SET IDENTITY_INSERT [dbo].[tbl_permision] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_permision_del] ON 

INSERT [dbo].[tbl_permision_del] ([id_pd], [code_action], [id_per]) VALUES (1, N'Thu Chi', 2)
INSERT [dbo].[tbl_permision_del] ([id_pd], [code_action], [id_per]) VALUES (2, N'Bao Cao', 2)
INSERT [dbo].[tbl_permision_del] ([id_pd], [code_action], [id_per]) VALUES (3, N'QL Khach Hang', 2)
SET IDENTITY_INSERT [dbo].[tbl_permision_del] OFF
GO
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (1, N'Trà Sữa')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (2, N'Hồng Trà')
INSERT [dbo].[TheLoai] ([MaTheLoai], [TenTheLoai]) VALUES (3, N'Cà Phê')
GO
INSERT [dbo].[Topping] ([MaTopping], [Ten], [Gia]) VALUES (1, N'Không chọn', 0)
INSERT [dbo].[Topping] ([MaTopping], [Ten], [Gia]) VALUES (2, N'Topping Khoai Môn', 5000)
INSERT [dbo].[Topping] ([MaTopping], [Ten], [Gia]) VALUES (3, N'Topping Socola', 5000)
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietDonHang]  WITH CHECK ADD FOREIGN KEY([MaSanPham])
REFERENCES [dbo].[SanPham] ([MaSanPham])
GO
ALTER TABLE [dbo].[ChiTietTopping]  WITH CHECK ADD FOREIGN KEY([MaDonHang])
REFERENCES [dbo].[DonHang] ([MaDonHang])
GO
ALTER TABLE [dbo].[ChiTietTopping]  WITH CHECK ADD FOREIGN KEY([MaTopping])
REFERENCES [dbo].[Topping] ([MaTopping])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([IDTable])
REFERENCES [dbo].[Ban] ([ID])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaKhachHang])
REFERENCES [dbo].[KhachHang] ([MaKhachHang])
GO
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[SanPham]  WITH CHECK ADD FOREIGN KEY([MaTheLoai])
REFERENCES [dbo].[TheLoai] ([MaTheLoai])
GO
ALTER TABLE [dbo].[tbl_per_relationship]  WITH CHECK ADD FOREIGN KEY([id_per_rel])
REFERENCES [dbo].[tbl_permision] ([id_per])
GO
ALTER TABLE [dbo].[tbl_per_relationship]  WITH CHECK ADD FOREIGN KEY([id_user_rel])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[tbl_permision_del]  WITH CHECK ADD FOREIGN KEY([id_per])
REFERENCES [dbo].[tbl_permision] ([id_per])
GO
